<div class="container">
  <mat-card class="task-input-card">
    <mat-card-content class="task-input-content">
      <mat-form-field appearance="outline" class="task-input full-width">
        <mat-label>{{ "TXT_ADICIONAR_NOVA_TAREFA" | translate }}</mat-label>
        <input matInput placeholder="{{ 'TXT_PLACEHOLDER' | translate }}" />
      </mat-form-field>
      <button mat-raised-button color="primary" class="create-task-btn">
        {{ "TXT_CRIAR" | translate }}
      </button>
    </mat-card-content>
  </mat-card>

  <div class="status-sections">
    <mat-card class="status-card">
      <mat-card-title>{{ "TXT_TAREFAS_CRIADAS" | translate }}</mat-card-title>
    </mat-card>

    <mat-card class="status-card">
      <mat-card-title>{{
        "TXT_TAREFAS_CONCLUIDAS" | translate
      }}</mat-card-title>
    </mat-card>
  </div>

  <mat-card class="tasks-list-card">
    <mat-card-content>
      <p>{{ "TXT_SEM_TAREFAS" | translate }}</p>
      <p>{{ "TXT_CRIAR_TAREFAS" | translate }}</p>
    </mat-card-content>
  </mat-card>
</div>
