.todo-list {
  width: 400px;
  margin: 30px auto;
  background-color: #f8f8f8;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 5px;
}

h1 {
  text-align: center;
  color: #444;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

#new-todo-input {
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px 12px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
  color: #444;
}

#new-todo-input::placeholder {
  color: #ccc;
  font-weight: lighter;
}
